<%- layout("layouts/boilerplate") %>
<form action="/listings" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
    <div class="row">
        <h2 class="col-12 offset-4 mt-5 mb-3">Create New listing</h2>
        <div class="col-8 offset-2">
        <div class="mb-3">
            <label for="title" class="form-label">Title: </label>
                <input type="text" name="listing[title]" id="title" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description: </label>
                <textarea type="text" name="listing[description]" id="description" class="form-control" required></textarea>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image: </label>
                <input type="file" name="listing[image]" id="image" class="form-control">
        </div>
            
        <div class="mb-3">
            <label for="price" class="form-label">Price: </label>
                <input type="number" name="listing[price]" id="price" class="form-control" required>
            
        </div>
        <div class="row">
        <div class="mb-3" class="col-md-4">
            <label for="country" class="form-label">Country: </label>
                <input type="text" name="listing[country]" id="country" class="form-control" required>
            
         </div>
        <div class="mb-3" class="col-md-8">
            <label class="form-label">Location: </label>
                <input type="text" name="listing[location]" id="location" class="form-control" required>
        </div>
        </div>
            <button class="btn btn-dark">Submit</button>
        </div>
    </div>
</form>
